<#@ include file="Enums.tt" #><#
var vars = new V[]
{

V.Value("None", -1),
V.Value("Walk"),
V.Value("TurnLeft"),
V.Value("TurnRight"),
V.Value("Transition"),
V.Value("Sex"),
V.Value("Idle"),
V.Value("Orgasm"),
V.Value("Smoke"),
V.Value("Suck"),
V.Value("Penetrated"),

};

#><#= Generate(vars, "Animations", "Animations", false) #>
