<#@ include file="Enums.tt" #><#
var vars = new V[]
{

V.Value("None", -1),
V.Value("Happy"),
V.Value("Playful"),
V.Value("Excited"),
V.Value("Angry"),
V.Value("Surprised"),
V.Value("Tired"),
V.Value("Orgasm"),

};

#><#= Generate(vars, "MoodType", "Moods", false) #>
